<h2 class="title">Add Contact</h2>

<form ng-submit="addContactInfo(contact)">
  <p class="control">
    <input ng-model="contact.name" type="text" class="input" placeholder="Name">
  </p>
  <p class="control">
    <input ng-model="contact.email" type="text" class="input" placeholder="Email">
  </p>
  <p class="control">
    <input ng-model="contact.phone" type="text" class="input" placeholder="Phone Number">
  </p>
  <p class="control">
    <input ng-model="contact.location" type="text" class="input" placeholder="City, State">
  </p>
  <p class="control">
    <input ng-src="contact.image" type="text" class="input" placeholder="Image url">
  </p>
  <button class="button">Add Contact</button>
</form>
