<h2 class="title">Single Contact</h2>

<div class="card is-fullwidth">

    <img class="singleContact" ng-src="{{ singleContact.url }}">

    <div class="card-content">
    <div class="content">{{ singleContact.name }}</div>
    <div class="content">{{ singleContact.email }}</div>
    <div class="content">{{ singleContact.phone }}</div>
    <div class="content">{{ singleContact.location }}</div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" ng-click="deleteContact(singleContact._id)">Delete</a>
  </footer>
</div>


<!-- <a href="/#/list/" class="box" ng-repeat="c in allContacts"> -->
  <!-- <article class="media">
    <div class="media-content">
      <div class="content">
        <ul>
          <p class="listName">{{c.name}}</p>
          <li>{{c.email}}</li>
          <li>{{c.phone}}</li>
          <li>{{c.location}}</li>
          <li>{{c.image}}</li>
        </ul>
      </div>
    </div>
  </article> -->
<!-- </a> -->
